@using Ravenhill.Components
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ravenhill</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <NavItem Link="keen" Text="Home"/>
        <NavItem Link="keen/installation" Text="Installation"/>
        <NavItem Link="keen/manual" Text="Manual"/>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        _collapseNavMenu = !_collapseNavMenu;
    }

}