.logo {
    text-align: center; /* Center the logo */
}

.logo-img {
    max-width: 50%; /* Adjust the maximum width of the logo */
    height: auto; /* Maintain aspect ratio */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; /* Center the background image */
}
