@page "/keen"

<section class="course-description">
    <h1 class="title">Keen | Kotlin Evolutionary Computation Framework</h1>
    <div class="shields">
        <a href="https://search.maven.org/artifact/cl.ravenhill/keen-core" target="_blank" aria-label="View Keen on Maven Central">
            <img src="https://img.shields.io/maven-central/v/cl.ravenhill/keen-core.svg" alt="Maven Central">
        </a>
        <a href="https://opensource.org/licenses/BSD-2-Clause" target="_blank" aria-label="View BSD 2-Clause License">
            <img src="https://img.shields.io/badge/License-BSD_2--Clause-orange.svg" alt="License">
        </a>
    </div>
    <div class="logo">
        <img src="images/keen-logo.png" alt="Keen Logo" class="logo-img">
    </div>
</section>