<!-- Error section for a 404 page not found -->
<section class="error">
    <!-- Container for the content of the error section -->
    <div class="not-found-container">
        <!-- Image displaying a humorous 404 error -->
        <img src="images/not-found-simpsons.gif" alt="404" width="100%"/>
        <!-- Container for centered text content -->
        <div class="centered-text">
            <!-- Heading indicating the error code -->
            <p>404</p>
            <!-- Alert message indicating page not found -->
            <p role="alert">Page not found</p>
            <!-- Link to return to the home page -->
            <a href="/" class="return-home-button">Go to Home</a>
        </div>
    </div>
</section>