<article class="about">
    <h1>Propósito del curso</h1>

    <ul role="list">
        <li>
            Introducir a los estudiantes en técnicas avanzadas de programación orientada a objetos, incluyendo el
            uso correcto de la herencia (evitando anti-patrones como el problema de la clase base frágil), la herencia
            múltiple y mixins, y el uso de interfaces y composición para crear software más flexible y mantenible.
        </li>
        <li>
            Enseñar metodologías rigurosas de testing, capacitando a los estudiantes para diseñar y ejecutar pruebas
            unitarias y basadas en propiedades, garantizando la robustez y fiabilidad del software.
        </li>
        <li>
            Explorar paradigmas de programación funcional y genérica, con énfasis en el manejo de efectos secundarios,
            la programación sin estado y el uso avanzado de tipos para crear software más seguro y mantenible.
        </li>
        <li>
            Preparar a los estudiantes para utilizar y diseñar DSLs y técnicas de metaprogramación, facilitando la
            creación de software más flexible y adaptado a dominios específicos.
        </li>
        <li>
            Comprender los principios del diseño de librerías de software.
        </li>
        <li>
            Aprender a escribir código limpio y mantenible.
        </li>
        <li>
            Diseñar APIs intuitivas y fáciles de usar.
        </li>
        <li>
            Utilizar y extender sistemas de construcción.
        </li>
        <li>
            Aplicar conceptos avanzados de programación orientada a objetos, como funciones de extensión, data classes,
            clases selladas y herencia múltiple.
        </li>
        <li>
            Entender y utilizar colecciones.
        </li>
    </ul>

    <p>
        Este curso se basa en los conocimientos del curso "Metodologías de diseño y programación" de la Universidad de Chile,
        pero puede ser tomado por cualquier persona con conocimientos básicos de programación orientada a objetos en
        algún lenguaje de tipado estático. Está dirigido a estudiantes que buscan especializarse en el diseño sofisticado
        de software y en técnicas avanzadas de programación, cruciales en la industria actual.
    </p>
    
    <h1>
        Duración
    </h1>
    <p>
        El curso está diseñado para ser completado en 15 semanas, con una combinación de lecturas, clases teóricas, actividades prácticas y tareas.
    </p>
</article>
