h1 {
    font-size: 30px;
    margin: 20px 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--highlight-color);
}

.about {
    font-size: 18px; /* Consider increasing this size for larger screens */
    max-width: 800px;
    margin: 20px auto; /* Added some vertical margin */
    padding: 0 15px; /* Padding on smaller screens */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about ul {
    padding-left: 20px;
    list-style-type: disc;
}

.about li {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .about {
        font-size: 20px; /* Increased font size */
    }
}

@media (min-width: 1024px) {
    .about {
        padding: 0 40px; /* More padding on larger screens */
    }
}