<article class="about">
    <h1>Propósito del curso</h1>

    <ul role="about">
        <li>
            Introducir metodologías rigurosas de testing, enseñando a lxs estudiantes a diseñar y ejecutar pruebas
            unitarias, de integración, y basadas en propiedades para garantizar la robustez y fiabilidad del software.
        </li>
        <li>
            Explorar los paradigmas de programación funcional y genérica, con un énfasis en el manejo de efectos
            secundarios, la programación sin estado, y el uso avanzado de tipos para crear software más seguro y mantenible.
        </li>
        <li>
            Desarrollar habilidades en el manejo de colecciones, centrándose en operaciones avanzadas y subtipado, lo que es
            esencial para el manejo eficaz de datos en aplicaciones modernas.
        </li>
        <li>
            Preparar a lxs estudiantes para utilizar y diseñar DSLs y técnicas de metaprogramación, facilitando la creación
            de software que es más flexible y adaptado a dominios específicos.
        </li>
    </ul>

    <p>
        Este curso se basa en los conocimientos adquiridos en el curso "Metodologías de diseño y programación" de la
        Universidad de Chile, pero puede ser tomado por cualquier persona con conocimientos básicos de programación
        orientada a objetos en algún lenguaje de tipado estático. Se orienta a estudiantes que buscan especializarse
        en el diseño sofisticado de software y en técnicas de programación avanzadas que son críticas en la industria
        actual.
    </p>
</article>