@using Ravenhill.Components.Lessons
@inherits LayoutComponentBase

<div class="app-container">
    <main>
        <h2>Clases</h2>
        <article class="content px-4">
            <LessonList/>
        </article>
    </main>
</div>