@using Ravenhill.Components
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ravenhill</a>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">   
        <NavItem Link="/ccxxxx/lessons" Text="Clases"/>
        <NavItem Link="/ccxxxx/about" Text="Propósito del curso"/>
        @* <NavItem Link="/ccxxxx/syllabus" Text="Temario"/> *@
        <NavItem Link="/ccxxxx/notes" Text="Apuntes"/>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        _collapseNavMenu = !_collapseNavMenu;
    }

}