@using Ravenhill.Model
<section class="syllabus">
    <h2>Contenidos del curso (haz clic en los títulos para ver los detalles de cada sección)</h2>
    <ol>
        @foreach (var s in _sections) {
            <li>
                <h3 @onclick="() => s.IsVisible = !s.IsVisible">@s.Title</h3>
                @if (s.IsVisible) {
                    <ol>
                        @foreach (var lesson in s.Contents) {
                            <li>
                                @lesson
                            </li>
                        }
                    </ol>
                }
            </li>
        }
    </ol>
</section>

@code {

    private readonly List<CourseSection> _sections = [
        new CourseSection(
            "Introducción",
            [
                "Sintaxis de lenguaje de programación",
                "Null-safety",
                "Build systems",
                "Herramientas de análisis estático"
            ]
        ),
        new CourseSection(
            "Programación orientada a objetos",
            [
                "Repaso de objetos, clases e interfaces",
                "Clases abiertas y cerradas/finales",
                "Funciones de extensión",
                "Data classes",
                "Enumeraciones",
                "Clases selladas",
                "Herencia múltiple"
            ]
        ),
        new CourseSection(
            "Testing",
            [
                "Testing basado en ejemplos",
                "Data driven testing"
            ]
        ),
        new CourseSection(
            "Programación funcional",
            [
                "Side-effects y funciones puras",
                "Lambdas",
                "Funciones de alto orden",
                "Deferred computations",
                "Recursión por la cola"
            ]
        ),
        new CourseSection(
            "Programación genérica y colecciones",
            [
                "Motivación",
                "Upper bounds",
                "Varianza",
                "Type erasure",
                "Operaciones sobre colecciones",
                "Lazy collections"
            ]
        ),
        new CourseSection(
            "Property-based testing",
            [
                "Motivaciones",
                "Stateless properties",
                "Generadores arbitrarios",
                "Shrinking",
                "Stateful properties"
            ]
        ),
        new CourseSection(
            "Programación orientada a lenguajes, metaprogramación",
            [
                "DSL (Domain Specific Languages)",
                "Programación reflectiva",
                "Annotation processing",
                "Symbol processing"
            ]
        )
    ];

}