.item {
    margin-top: 2.5rem;
    display: flex;
    position: relative;
    align-items: center;
}

.details {
    flex: 1;
    margin-left: 2rem;
}

.icon-container {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);
    border: 1px solid var(--color-border);
    background: var(--color-background);
}

i {
    display: flex;
    place-items: center;
    place-content: center;
    width: 32px;
    height: 32px;

    color: var(--color-text);
}


h3 {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-heading);
}