@using Ravenhill.Model
<div class="lesson-list">
    @foreach (var lesson in LessonsWithIndex) {
        <LessonItem Url="@lesson.Lesson.Link"
                    Title="@lesson.Lesson.Name"
                    Counter="@lesson.Index"
                    Description="@lesson.Lesson.Description"/>
    }
</div>

@code {

    private readonly List<Lesson> _lessons = [
        new Lesson("Bibliotecas de Software",
            "Introducción al Diseño de Bibliotecas de Software",
            "/ccxxxx/lessons/introduccion-al-diseno-de-bibliotecas-de-software"
        ),
        new Lesson(
            "Introducción a Kotlin",
            "Sintáxis básica de Kotlin, estructuras de control, funciones y null safety.",
            "/ccxxxx/lessons/introduccion-a-kotlin"
        ),
        new Lesson(
            "Código Limpio y Mantenible",
            "Principios de diseño de código limpio y mantenible.",
            "/ccxxxx/lessons/codigo-limpio-y-mantenible"
        ),
        new Lesson(
            "Programación Orientada a Objetos I",
            "Repaso de conceptos de programación orientada objetos, introduciendo clases, objetos, clases abstractas e interfaces.",
            "/ccxxxx/lessons/programacion-orientada-a-objetos-i"
        ),
        new Lesson(
            "Build Systems I",
            "Introducción a la automatización de tareas con Gradle y Detekt.",
            "/ccxxxx/lessons/build-systems-i"
        ),
        new Lesson(
            "Build Systems II",
            "Configuración de tareas y plugins en Gradle.",
            "/ccxxxx/lessons/build-systems-ii"
        ),
        new Lesson(
            "Build Systems III",
            "Compilación de aplicaciones y librerías.",
            "/ccxxxx/lessons/build-systems-iii"
        ),
        new Lesson(
            "Build Systems IV",
            "Publicación de artefactos y configuración de repositorios.",
            "/ccxxxx/lessons/build-systems-iv"
        ),
        new Lesson(
            "Programación Orientada a Objetos II",
            "Propiedades, funciones de extension, funciones infijas, data classes y companion objects.",
            "/ccxxxx/lessons/programacion-orientada-a-objetos-ii"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EZxTC5k0lIlFlzSEhFWOVqIBcLZ2_gVf9NyQ6Si8_DOcEA?e=dl2c3k"
        ),
        new Lesson(
            "Programación Orientada a Objetos III",
            "Enumeraciones y clases selladas.",
            "/ccxxxx/lessons/oop-iii"
        ),
        new Lesson(
            "Programación Orientada a Objetos IV",
            "Herencia múltiple.",
            "/ccxxxx/lessons/programacion-orientada-a-objetos-iv"
        ),
        new Lesson(
            "Programación Orientada a Objetos V",
            "Problema del diamante",
            "/ccxxxx/lessons/programacion-orientada-a-objetos-v"
        ),
        new Lesson(
            "Testing I",
            "Introducción a Test-Driven Development con Kotest.",
            "/ccxxxx/lessons/testing-i"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EXHCSKdA-2NOtGcc1W-6PBEBITZJ7PvsJVMnPy8gamRwzw?e=P3i2gS"
        ),
        new Lesson(
            "Testing II",
            "Testing de excepciones y data-driven testing.",
            "/ccxxxx/lessons/testing-ii"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EQPh31j8GwdGsbwViZqLE_EBIBSEacftvHKYKuY40hJSiw?e=PGdi7K"
        ),
        new Lesson(
            "Testing III",
            "Aserciones avanzadas.",
            "/ccxxxx/lessons/testing-iii"
            ),
        new Lesson(
            "Programación Funcional I",
            "Funciones de orden superior y expresiones lambda.",
            "/ccxxxx/lessons/programacion-funcional-i"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EfrX59zaVR5MhOrSPl7zVQgB2IdgBjRc3Q1qR0ERDY2o1g?e=xZy4pH"
        ),
        new Lesson(
            "Programación Funcional II",
            "Funciones puras y efectos secundarios, y lazy evaluation.",
            "/ccxxxx/lessons/programacion-funcional-ii"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EZsw8uNFKBdAlwmVfKguUq8BhQ3oUS6RELjLAjp5HGbeZA?e=A2dekU"
        ),
        new Lesson(
            "Programación Funcional III",
            "Optimización de funciones recursivas.",
            "/ccxxxx/lessons/programacion-funcional-iii"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EZe-Y4kzX2BNlAl_aDHkG2cB7OBMFfylEywTpKuCeATzTQ?e=saXJqU"
        ),
        new Lesson(
            "Programación Genérica I",
            "Generics, Varianza y Star Projections",
            "/ccxxxx/lessons/programacion-generica-i"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EbG20Yq4LoVKl8Hl4Qv5ROwBAIrtOmCE-nc5VUdgsMh3Ng?e=XvOVNI"
        ),
        new Lesson(
            "Programación Genérica II",
            "Type erasure, inlining y type reification",
            "/ccxxxx/lessons/programacion-generica-ii"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EUhEbrTxtZFNmNR4GVCuzK8B650z1iZbnsV9lPnpqzONuQ?e=zUXEIu"
        ),
        new Lesson(
            "Colecciones",
            "Tipos y operaciones sobre colecciones",
            "/ccxxxx/lessons/colecciones"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/Eeg-XC5Wwn5Jt54IxslLyzcBHlW2D2EI8uZlDZk64Cma2A?e=bajk3K"
        ),
        new Lesson(
            "Property-based Testing I",
            "Introducción a property-based testing con Kotest",
            "/ccxxxx/lessons/property-based-testing-i"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/Ecv29kJFiZdKoOplOAEEfXsB2UlaPb0TItHH5b90HzvlOQ?e=kY27lx"
        ),
        new Lesson(
            "Property-based Testing II",
            "Generadores arbitrarios",
            "/ccxxxx/lessons/property-based-testing-ii"
            // "https://uchile-my.sharepoint.com/:p:/g/personal/ignacio_slater_uchile_cl/EcRHjkClBMlGlGBlLaVlyp8Bui8CHAM5PnWAhcniwt6bkQ?e=DrRyJs"
        ),
        new Lesson(
            "Property-based Testing III",
            "Técnicas de diseño de propiedades",
            "/ccxxxx/lessons/pbt-iii"
        ),
        new Lesson(
            "Property-based Testing IV",
            "Condiciones de borde y simplificación de propiedades",
            "/ccxxxx/lessons/property-based-testing-iv"
        ),
        // new Lesson(
        //     "Property-based Testing V",
        //     "Stateful properties y generación de estados iniciales",
        //     "https://ravenhill.pages.dev/lessons/property-based-testing-v"
        // ),
        // new Lesson(
        //     "Property-based Testing VI",
        //     "Generación de estados intermedios y finales",
        //     "https://ravenhill.pages.dev/lessons/property-based-testing-vi"
        // ),
        new Lesson(
            "Programación Orientada a Lenguajes",
            "DSLs internos",
            "/ccxxxx/lessons/programacion-orientada-a-lenguajes-i"
            // "https://ravenhill.pages.dev/lessons/programacion-orientada-a-lenguajes-ii"
        ),
        new Lesson("Metaprogramación I",
            "Reflexión en Kotlin",
            "/ccxxxx/lessons/programacion-reflexiva-i"
            // "https://ravenhill.pages.dev/lessons/programacion-reflexiva-i"
        ),
        new Lesson(
            "Metaprogramación II",
            "Procesamiento de anotaciones en tiempo de ejecución",
            "/ccxxxx/lessons/annotation-processing-i"
        ),
        new Lesson(
            "Metaprogramación III",
            "Procesamiento de anotaciones en tiempo de compilación",
            "/ccxxxx/lessons/annotation-processing-ii"
        ),
        new Lesson(
            "Metaprogramación IV",
            "Procesamiento de símbolos",
            "/ccxxxx/lessons/symbol-processing"
        )
    ];

    private List<( Lesson Lesson, int Index)> LessonsWithIndex => _lessons
        .Select((lesson, index) => (lesson, index + 1)) // Compute indices starting at 1
        .ToList();

}