@media (max-width: 800px) {
    .main-header {
        font-size: 1.3em; /* Adjust font size for medium devices */
    }

    .welcome-text {
        font-size: 0.9em; /* Adjust font size for medium devices */
    }

    .content-tile {
        width: 90%; /* Increase width on smaller screens */
        margin: 10px auto; /* Center tiles and add margin for spacing */
    }
}

@media (max-width: 600px) {
    .main-header {
        font-size: 1.5em; /* Smaller font size for small devices */
    }

    .welcome-text {
        font-size: 1em; /* Adjust font size for readability on small devices */
    }

    .content-sections {
        flex-direction: column; /* Stack the tiles vertically */
    }

    .content-tile {
        width: 100%; /* Make tiles full width on the smallest screens */
    }

    @media (max-width: 600px) {
        .logo img {
            max-width: 80%; /* Adjust the max-width of the logo for smaller screens */
        }
    }
}

body {
    font-family: 'Arial', sans-serif; /* Use a web-safe font */
    color: var(--color-text); /* Use the text color variable */
    background-color: var(--color-background); /* Use the background color variable */
    margin: 0;
    padding: 0;
}

.main-container {
    text-align: center;
    padding: 50px 20px;
}

.main-header, .welcome-text {
    color: var(--highlight-color); /* Use the highlight color variable */
    margin-bottom: 20px;
}

.welcome-text {
    font-size: 1.5em;
    color: var(--color-text); /* Use the text color variable */
    margin-bottom: 40px; /* Added margin for spacing */
}

.content-sections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows tiles to wrap in smaller screens */
    gap: 20px; /* Space between the sections */
}

.content-tile {
    width: 45%; /* Adjusted for better use of space on larger screens */
    padding: 20px;
    background-color: var(--color-background-soft);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    text-decoration: none; /* Remove default link styling */
    color: inherit; /* Inherit text color from parent */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-tile:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.content-tile h2 {
    color: var(--highlight-color); /* Use the highlight color variable */
}

.content-tile p {
    color: var(--color-text); /* Use the text color variable */
    font-size: 1.5em; /* Larger font size for better readability */
}
