@code {
    [Parameter] public string? Url { get; set; }
    [Parameter] public string Title { get; set; } = "";
}

<div class="reference-website">
    <a href="@Url" target="_blank" rel="noopener noreferrer">@Title. URL: @Url</a>
</div>